<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL.Properties.Settings.QuanLyCuaHangSachConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyCuaHangSach;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QuanLyCuaHangSachConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=QuanLyCuaHangSach;User ID=sa;Password=tam1103"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.QuanLyCuaHangSachConnectionString2"
            connectionString="Data Source=DESKTOP-VRV9FLO\SQLEXPRESS;Initial Catalog=QuanLyCuaHangSach;User ID=sa;Password=tam1103"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.DoAnQLBSConnectionString"
            connectionString="Data Source=DESKTOP-68EE0FR\SQLEXPRESS;Initial Catalog=DoAnQLBS;Persist Security Info=True;User ID=sa;Password=123456"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
